certifi==2018.11.29
chardet==3.0.4
dot2tex==2.9.0
gyp==0.1
idna==2.8
jupyter-c-kernel==1.2.2
olefile==0.45.1
pdfminer==20140328
Pillow==5.1.0
PyBluez==0.18
pycairo==1.16.2
pyparsing==2.3.0
requests==2.21.0
roku==2.0
simplejson==3.13.2
six==1.12.0
urllib3==1.24.1
vboxapi==1.0
