{% extends "layout.html" %}

{% block title %}{{ query }}{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/codepen_clone.css')}}" />

  <script src="{{ url_for('static', filename='js/data.js')}}"></script>
  <script src="{{ url_for('static', filename='js/results.js')}}"></script>
{% endblock %}


{% block content %}
<header>
  <div class="top-bar">
    <div class="left-side">
      <form id="search-form" method="get" enctype='multipart/form-data'>
        <a href="/"><img id="main-logo" src="{{url_for('static', filename='img/googlelogo.png')}}"></a>
        <input disabled="disabled" type="search" name="q" id="search-bar" value="{{query}}"/>
        <button id="search-mag">
          <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
        </button>
      </form>
    </div>
    <div class="right-side">
      <ul>
        <li id="nine-square"><a href="#"></a></li>
        <li id="circle-bell"><a href="#"></a></li>
        <li id="profile-pic"></li>
      </ul>
    </div>
  </div>
  <div class="scnd-bar">
    <div class="scnd-left">
    </div>
  </div>
</header>

<div id="about">  
<!--
  <h2 style="margin-top: 3%;">About <a href="https://github.com/jacobdanovitch/Joogle">Joogle</a></h2>
  <p>A search engine made for CSI 4107. Currently supports searching the uOttawa CSI course catalogue.</p>
  <h6>By: Jacob Danovitch</h6>
  <br/>
  <strong>Coming soon (as I wake up)</strong>
  <p>tldr: VSM = vector space search (free text like "data science", "web development"); BRM = boolean search ("operating AND systems", "NOT hardware")</p>
-->
<h1 style="margin-top: 3%;">About <a href="https://github.com/jacobdanovitch/Joogle">Joogle</a></h1>
<h5>By: Jacob Danovitch</h5>
<p>A search engine made for CSI 4107. Currently supports searching the uOttawa CSI course catalogue.</p>

<h2>Usage</h4>
<hr/>
<h6><strong>Vector Space Model (VSM) Search</strong></h6>
<p>With this, you can perform free-text searches like <em>data science</em> or <em>web development</em>.</p>
<h6><strong>Boolean Retrieval Model (BRM) Search</strong></h6>
<p>With this, you can perform boolean searches like <em>operating AND systems</em> or <em>NOT hardware</em>.</p>

<h2>Project Info</h2>
<hr/>
<h4>GitHub Repository</h4>
<p>The code for the project can be found at its <a href="https://github.com/jacobdanovitch/Joogle">repository</a> on Github.</p>
<h4>Local Installation</h4>
<p>First, in your shell, run:</p>
<pre><code class='language-shell' lang='shell'>$ ./install.sh # or install.bat on windows
</code></pre>
<p>This will install several Python packages, as well as download stopwords and a lemmatizer from <code>nltk</code>. </p>
<p>Then, to run the app, run:</p>
<pre><code class='language-shell' lang='shell'>$ python app.py
</code></pre>
<p>Then, navigate to <a href='http://localhost:4999/' target='_blank' class='url'>http://localhost:4999/</a> to access the app (or <a href='http://127.0.0.1:4999' target='_blank' class='url'>http://127.0.0.1:4999</a> if this fails).</p>
</div>
{% endblock %}