{% extends "layout.html" %}

{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/home.js')}}"></script>
{% endblock %}


{% block content %}
<div class="top-toolbar">
  <nav>
    <a href="/about"><strong>About</strong></a>
    <a href="#">uOttawa</a>
    <a href="#" class="disabled">Reuters</a>
    <a href="#" class="disabled">TBD</a>
    <a href="#"><button class="signin disabled">Sign In</button></a>
  </nav>
</div>
<div class="search">
  <div class="logo">
    <img src="{{url_for('static', filename='img/googlelogo.png')}}" />
  </div>
  <form id="search-form" action="/search/vsm" method="get" enctype='multipart/form-data'>
     <input class="search-bar" type="search" name="q" autofocus x-webkit-speech/>
    <div class="search-nav">
    <div class="search-button">
      <a id="vsm" href="/search/vsm"><button>Vector Space Search</button></a>
      <a id="brm" href="/search/brm"><button>Boolean Search</button></a>
    </div>
  </div>
  </form>
  <br/>
  <div>Not sure what to do? Go to <a href="/about">About</a> for instructions!</div>
</div>
</body>
{% endblock %}